<div class= "main">
　<section class="swiper-container loading">
  　<div class="swiper-wrapper">
    　<div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E)">
      　<img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E" class="entity-img" />
      　<div class="content">
        　<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Shaun Matthews</p>
        　<span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
      　</div>
    　</div>
    　<div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg)">
      　<img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg" class="entity-img" />
      　<div class="content">
        　<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Alexis Berry</p>
        　<span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
      　</div>
    　</div>
    　<div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s)">
      　<img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s" class="entity-img" />
      　<div class="content">
        　<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Billie Pierce</p>
        　<span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
      　</div>
    　</div>
    　<div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk)">
      　<img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk" class="entity-img" />
      　<div class="content">
        　<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Trevor Copeland</p>
        　<span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
      　</div>
    　</div>
    　<div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)">
      　<img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM" class="entity-img" />
      　<div class="content">
        　<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Bernadette Newman</p>
        　<span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
      　</div>
    　</div>
  　</div>
  
  　<!-- If we need pagination -->
  　<div class="swiper-pagination"></div>
  　<!-- If we need navigation buttons -->
  　<div class="swiper-button-prev swiper-button-white"></div>
  　<div class="swiper-button-next swiper-button-white"></div>
　</section>
　
　<div class= "home-btn">
　　<div class="signup_btn">
  　　<%= link_to "新規登録", signup_path, class: "btn btn-malformation btn-malformation--pastel" %>
　　</div>

　　<div class="signup_btn">
  　　<%= link_to "ログイン", login_path, class: "btn btn-malformation btn-malformation--pastel" %>
　　</div>
　</div>
　
　<div class="service-block">
			<h2>Cheers!の2つのメインサービス</h2>
			<ul class="service-about">
				<li>
					<div class="service-about-box">
						<div class="service-about-image">
							<%= image_tag 'ServiceAboutImage2.jpg' %>
							<h3><span class="service-about-number">①</span>合コン相手を探せる</h3>
						</div>
						<p>お友達を誘って程よい人数で合コンできる!</p>
						<table class="optional">
							<tr>
								<th colspan="3">合コン相手を探す</th>
							</tr>
							<tr>
								<td class="number-of-people"><%= link_to "2対2", '#', class: "service-about-button button border" %></td>
								<td class="number-of-people"><%= link_to "3対3", '#', class: "service-about-button button border" %></td>
								<td class="number-of-people"><%= link_to "4対4", '#', class: "service-about-button button border" %></td>
							</tr>
						</table>
					</div>
				</li>
				<li>
					<div class="service-about-box">
						<div class="service-about-image">
							<%= image_tag 'ServiceAboutImage.jpg' %>
							<h3><span class="service-about-number">②</span>1対1でお相手を探せる</span></h3>
						</div>
						<p>2人で落ち着いて話せる!</p>
						<table class="service-about-price">
							<tr>
								<th colspan="2">お相手を探す</th>
							</tr>
							<tr>
								<td colspan="2"><%= link_to "1対1", '#', class: "service-about-button button border" %></th>
							</tr>
						</table>
					</div>
				</li>
			</ul>
	</div>
	
	<div class="index-content">
   <div class="container">
    <h2>合コンで使えるお役立ち情報</h2>
    <% @articles.first(3).each do |article| %>
      <div class="col-lg-4 card-box">
        <div class="card"> <%= image_tag article.avatar.url %>
          <h4><%= article.title %></h4>
          <p><%= article.description %></p> <%= link_to "詳細へ", article_path(article), class: "blue-button"%>
        </div>
      </div>
    <% end %>
   </div>
  </div>
		
	

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<%# swiperのjs読み込み %>
<%= javascript_pack_tag "swiper" %>