<div class= "main">
	<div class="home-main-image">
		
	</div>
　
　
　<div class= "home-btn">
　	<% if logged_in? %>
　	  
　	<% else %>
　　  <div class="signup_btn">
  　　   <%= link_to "新規登録", signup_path, class: "btn btn-malformation btn-malformation--pastel" %>
　　  </div>

　　  <div class="signup_btn">
  　  　<%= link_to "ログイン", login_path, class: "btn btn-malformation btn-malformation--pastel" %>
　  　</div>
　  　<p>ログインする際に下記のメールアドレスとパスワードをご利用くださいご利用ください。</p>
　  　<p>メールアドレス： kei@example.org</p>
　  　<p>パスワード： password</p>
　  　
　　<% end %>
　</div>
　
　<div class="service-block">
			<h2 class = "homeh2">Cheers!の2つのメインサービス</h2>
			<ul class="service-about">
			  
				<li>
					<div class="service-about-box">
						<div class="service-about-image5">
						  
						</div>
							
							<h3><span class="service-about-number">①</span>合コン相手を探せる</h3>
						<p>お友達を誘って程よい人数で合コンできる!</p>
						
						<table class="optional">
							<tr>
								<th colspan="3">合コン相手を探す</th>
							</tr>
							<tr>
								<td class="number-of-people"><%= link_to "2対2", board_path(@board2), class: "service-about-button button border" %></td>
								<td class="number-of-people"><%= link_to "3対3", board_path(@board3), class: "service-about-button button border" %></td>
								<td class="number-of-people"><%= link_to "4対4", board_path(@board4), class: "service-about-button button border" %></td>
							</tr>
						</table>
						
					</div>
				</li>
				
				
				<li>
					<div class="service-about-box">
						<div class="service-about-image6">
						</div>
						
						<h3><span class="service-about-number">②</span>1対1でお相手を探せる</span></h3>
						<p>2人で落ち着いて話せる!</p>
						
						<table class="optional">
							<tr>
								<th colspan="2">お相手を探す</th>
							</tr>
							<tr>
								<td colspan="2"><%= link_to "1対1", board_path(@board1), class: "service-about-button button border" %></th>
							</tr>
						</table>
					</div>
				</li>
			</ul>
	</div>
	
	<div class="index-content">
   <div class="container">
    <h2 class="homeh2">合コンで使えるお役立ち情報</h2>
    <% @articles.first(3).each do |article| %>
      <div class="col-lg-4 card-box">
        <div class="card"> <%= image_tag article.avatar.url %>
          <h4><%= article.title %></h4>
          <p><%= article.description %></p> <%= link_to "詳細へ", article_path(article), class: "blue-button"%>
        </div>
      </div>
    <% end %>
   </div>
  </div>
		
	

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<%# swiperのjs読み込み %>
<%= javascript_pack_tag "swiper" %>