<% provide(:title, "公開プロフィールの編集") %>
<h1>公開プロフィールの編集</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    
    <%= f.label :nickname, "ニックネーム" %>
    <%= f.text_area :nickname, placeholder: "ニックネームはありますか？" %>
    
    <%= f.label :age, "年齢" %>
    <%= f.text_area :age, placeholder: "年齢を教えてください" %>
    
    <%= f.label :blood, "血液型" %>
    <%= f.select :blood, [["A", "A"], ["B", "B"], ["O", "O"], ["AB", "AB"], ["不明", "不明"]], include_blank: "選択して下さい" %>
    
    <%= f.label :personality, "性格" %>
    <%= f.select :personality, [["明るい", "明るい"], ["優しい", "優しい"], ["しっかり", "しっかり"], ["素直", "素直"], ["誠実", "誠実"], ["知的", "知的"], ["天然", "天然"], ["ポジティブ", "ポジティブ"], ["クール", "クール"]], include_blank: "選択して下さい" %>
    
    <%= f.label :height, "身長" %>
    <%= f.select :height, [["130cm以下", "130cm以下"], ["131cm", "131cm"], ["132cm", "132cm"], ["133cm", "133cm"], ["134cm", "134cm"], ["135cm", "135cm"], ["136cm", "136cm"], ["137cm", "137cm"], ["138cm", "138cm"], ["139cm", "139cm"], ["140cm", "140cm"], ["141cm", "141cm"], ["142cm", "142cm"], ["143cm", "143cm"], ["144cm", "144cm"], ["145cm", "145cm"], ["146cm", "146cm"], ["147cm", "147cm"], ["148cm", "148cm"], ["149cm", "149cm"], ["150cm", "150cm"], ["151cm", "151cm"], ["152cm", "152cm"], ["153cm", "153cm"], ["154cm", "154cm"], ["155cm", "155cm"], ["156cm", "156cm"], ["157cm", "157cm"], ["158cm", "158cm"], ["159cm", "159cm"], ["160cm", "160cm"], ["161cm", "161cm"], ["162cm", "162cm"], ["163cm", "163cm"], ["164cm", "164cm"], ["165cm", "165cm"], ["166cm", "166cm"], ["167cm", "167cm"], ["168cm", "168cm"], ["169cm", "169cm"], ["170cm", "170cm"], ["171cm", "171cm"], ["172cm", "172cm"], ["173cm", "173cm"], ["174cm", "174cm"], ["175cm", "175cm"], ["176cm", "176cm"], ["177cm", "177cm"], ["178cm", "178cm"], ["179cm", "179cm"], ["180cm", "180cm"], ["181cm", "181cm"], ["182cm", "182cm"], ["183cm", "183cm"], ["184cm", "184cm"], ["185cm", "185cm"], ["186cm", "186cm"], ["187cm", "187cm"], ["188cm", "188cm"], ["189cm", "189cm"], ["190cm", "190cm"], ["191cm", "191cm"], ["192cm", "192cm"], ["193cm", "193cm"], ["194cm", "194cm"], ["195cm", "195cm"], ["196cm", "196cm"], ["197cm", "197cm"], ["198cm", "198cm"], ["199cm", "199cm"], ["200cm", "200cm"], ["201cm", "201cm"], ["202cm", "202cm"], ["203cm", "203cm"], ["204cm", "204cm"], ["205cm", "205cm"], ["206cm", "206cm"], ["207cm", "207cm"], ["208cm", "208cm"], ["209cm", "209cm"], ["210cm", "210cm"], ["211cm", "211cm"], ["212cm", "212cm"], ["213cm", "213cm"], ["214cm", "214cm"], ["215cm以上", "215cm以上"]],  include_blank: "選択して下さい" %>
    
    <%= f.label :body, "体型" %>
    <%= f.select :body, [["細め", "細め"], ["スレンダー", "スレンダー"], ["普通", "普通"], ["グラマー", "グラマー"], ["ぽっちゃり", "ぽっちゃり"], ["がっしり", "がっしり"], ["マッチョ", "マッチョ"], ["太め", "太め"]], include_blank: "選択して下さい" %>
    
    <%= f.label :from, "出身地" %>
    <%= f.select :from, [["北海道", "北海道"], ["青森", "青森"], ["岩手", "岩手"], ["宮城", "宮城"], ["秋田", "秋田"], ["山形", "山形"], ["福島", "福島"], ["東京", "東京"], ["神奈川", "神奈川"], ["埼玉", "埼玉"], ["千葉", "千葉"], ["茨城", "茨城"], ["栃木", "栃木"], ["群馬", "群馬"], ["山梨", "山梨"], ["富山", "富山"], ["石川", "石川"], ["福井", "福井"], ["新潟", "新潟"], ["長野", "長野"], ["愛知", "愛知"], ["岐阜", "岐阜"], ["静岡", "静岡"], ["三重", "三重"], ["大阪", "大阪"], ["兵庫", "兵庫"], ["京都", "京都"], ["奈良", "奈良"], ["滋賀", "滋賀"], ["和歌山", "和歌山"], ["岡山", "岡山"], ["広島", "広島"], ["鳥取", "鳥取"], ["島根", "島根"], ["山口", "山口"], ["徳島", "徳島"], ["香川", "香川"], ["高知", "高知"], ["愛媛", "愛媛"], ["福岡", "福岡"], ["佐賀", "佐賀"], ["大分", "大分"], ["長崎", "長崎"], ["熊本", "熊本"], ["宮崎", "宮崎"], ["鹿児島", "鹿児島"], ["沖縄", "沖縄"]], include_blank: "選択して下さい" %>
    
    <%= f.label :job, "仕事" %>
    <%= f.select :job, [["会社経営", "会社経営"], ["会社役員", "会社役員"], ["管理職", "管理職"], ["企画・営業", "企画・営業"], ["事務職", "事務職"], ["団体職員", "団体職員"], ["受付", "受付"], ["オペレーター", "オペレーター"], ["秘書", "秘書"], ["広告・マーケティング", "広告・マーケティング"], ["システムエンジニア", "システムエンジニア"], ["デザイナー", "デザイナー"], ["クリエーター", "クリエーター"], ["テレビ局・ラジオ局", "テレビ局・ラジオ局"], ["商社", "商社"], ["国家・地方公務員", "国家・地方公務員"], ["自衛隊", "自衛隊"], ["警察", "警察"], ["消防士", "消防士"], ["医師", "医師"], ["薬剤師", "薬剤師"], ["医療関係", "医療関係"], ["看護師", "看護師"], ["介護士", "介護士"], ["ネイリスト", "ネイリスト"], ["エスティシャン", "エスティシャン"], ["教師・講師", "教師・講師"], ["保育士", "保育士"], ["弁護士", "弁護士"], ["税理士・会計士", "税理士・会計士"], ["司法・行政書士等", "司法・行政書士等"], ["社労士", "社労士"], ["コンサルタント", "コンサルタント"], ["研究・開発", "研究・開発"], ["建築士", "建築士"], ["接客・販売", "接客・販売"], ["CA", "CA"], ["シェフ・料理人", "シェフ・料理人"], ["自営業", "自営業"], ["運転手・運転士", "運転手・運転士"], ["美容師", "美容師"], ["土木関連", "土木関連"], ["農林水産", "農林水産"], ["ブライダル", "ブライダル"], ["大学生・大学院生", "大学生・大学院生"], ["フリーター", "フリーター"], ["家事手伝い", "家事手伝い"], ["その他", "その他"], ["コンピューター関連", "コンピューター関連"], ["タレント・芸能人", "タレント・芸能人"], ["ユーチューバー", "ユーチューバー"], ["インストラクター", "インストラクター"], ["栄養士", "栄養士"], ["行政・法律関連", "行政・法律関連"], ["接客・飲食", "接客・飲食"], ["パティシエ", "パティシエ"], ["バーテンダー", "バーテンダー"], ["ソムリエ", "ソムリエ"], ["パイロット", "パイロット"], ["空港職員・グランドスタッフ", "空港職員・グランドスタッフ"], ["鉄道職員", "鉄道職員"], ["バスガイド", "バスガイド"], ["通訳・翻訳家", "通訳・翻訳家"], ["スタイリスト", "スタイリスト"], ["整体師・マッサージ師", "整体師・マッサージ師"], ["銀行員・金融系", "銀行員・金融系"], ["獣医師", "獣医師"], ["トリマー", "トリマー"], ["歯科助手", "歯科助手"], ["歯科医師", "歯科医師"]], include_blank: "選択して下さい" %>
    
    <%= f.label :income, "年収" %>
    <%= f.select :income, [["100万円位", "100万円位"], ["200万円位", "200万円位"], ["300万円位", "300万円位"], ["400万円位", "400万円位"], ["500万円位", "500万円位"], ["600万円位", "600万円位"], ["700万円位", "700万円位"], ["800万円位", "800万円位"], ["900万円位", "900万円位"], ["1000万円以上", "1000万円以上"]], include_blank: "選択して下さい" %>
    
    <%= f.label :ed, "学歴" %>
    <%= f.select :ed, [["高校卒", "高校卒"], ["短大/専門学校卒", "短大/専門学校卒"], ["大学卒", "大学卒"], ["大学院卒", "大学院卒"], ["その他", "その他"], ["", ""]], include_blank: "選択して下さい" %>
    
    <%= f.label :holiday, "休日" %>
    <%= f.select :holiday, [["土日", "土日"], ["平日", "平日"], ["不定期", "不定期"], ["その他", "その他"]], include_blank: "選択して下さい" %>
    
    <%= f.label :alcohol, "お酒" %>
    <%= f.select :alcohol, [["よく飲む", "よく飲む"], ["時々飲む", "時々飲む"], ["あまり飲まない", "あまり飲まない"], ["全く飲まない", "全く飲まない"]], include_blank: "選択して下さい" %>
    
    <%= f.label :tabacco, "煙草" %>
    <%= f.select :tabacco, [["吸わない", "吸わない"], ["吸う", "吸う"], ["吸う(電子タバコ)", "吸う(電子タバコ)"], ["ときどき吸う", "ときどき吸う"], ["非喫煙者の前では吸わない", "非喫煙者の前では吸わない"], ["相手が嫌ならやめる", "相手が嫌ならやめる"]], include_blank: "選択して下さい" %>
    
    <%= f.label :self_pr, "PR" %>
    <%= f.text_area :self_pr, placeholder: "PRを書こう！" %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>