<div class="pbody">
    <div class="post-user-info">
        <div class="post-avatar-img">
          <% if @post.user.avatar? %>
        　  　　<%= image_tag @post.user.avatar.url %>
          <% else %>
              <%= image_tag "/assets/default.jpg" %>
          <% end %>
        </div>
        <span>
           <%= link_to @post.user.nickname, user_path(@post.user) %>
        </span>
        <span>
           <%= @post.user.age %>
        </span>
　　</div>
　　
　　<table class="postable">
        <tbody>
            <tr>
                <th>業種</th>
                <td data-label="内容" class="txt"><%= post.industry %></td>
            </tr>
            <tr>
                <th>学歴</th>
                <td data-label="内容" class="txt"><%= post.eb %></td>
            </tr>
            <tr>
                <th>希望する曜日</th>
                <td data-label="内容" class="txt"><%= post.day%></td>
            </tr>
            <tr>
                <th>希望する場所</th>
                <td data-label="内容" class="txt"><%= post.place %></td>
            </tr>
            <tr>
                <th>お相手の条件</th>
                <td data-label="内容" class="txt"><%= post.conditions %></td>
            </tr>
            <tr>
                <th>NGなこと</th>
                <td data-label="内容" class="txt"><%= post.ng%></td>
            </tr>
            <tr>
                <th>ひとこと</th>
                <td data-label="内容" class="txt"><%= post.self_pr %></td>
            </tr>
        </tbody>
　　</table>
</div>