<% provide(:title, "新規投稿") %>
<h1>新規投稿</h1>

<%= form_with(model: [@board, @post], local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= hidden_field_tag :id, @board.id %>
    
    <%= f.label :industry, "業種" %>
    <%= f.select :industry, [["農業，林業", "農業，林業"], ["漁業", "漁業"], ["鉱業，採石業，砂利採取業", "鉱業，採石業，砂利採取業"], ["建設業", "建設業"], ["製造業", "製造業"], ["電気・ガス・熱供給・水道業", "電気・ガス・熱供給・水道業"], ["情報通信業", "情報通信業"], ["運輸業，郵便業", "運輸業，郵便業"], ["卸売業・小売業", "卸売業・小売業"], ["金融業・保険業", "金融業・保険業"], ["不動産業，物品賃貸業", "不動産業，物品賃貸業"], ["学術研究，専門・技術サービス業", "学術研究，専門・技術サービス業"], ["宿泊業，飲食サービス業", "宿泊業，飲食サービス業"], ["生活関連サービス業，娯楽業", "生活関連サービス業，娯楽業"], ["教育，学習支援業", "教育，学習支援業"], ["医療，福祉", "医療，福祉"], ["学生", "学生"], ["複合サービス事業", "複合サービス事業"], ["サービス業（他に分類されないもの）", "サービス業（他に分類されないもの）"], ["公務（他に分類されるものを除く）", "公務（他に分類されるものを除く）"], ["その他", "その他"]], include_blank: "選択して下さい" %>
    
    <%= f.label :eb, "学歴" %>
    <%= f.select :eb, [["中学卒", "中学卒"], ["高校卒", "高校卒"], ["高専卒", "高専卒"], ["専門学校卒", "専門学校卒"], ["短大卒", "短大卒"], ["大学卒", "大学卒"], ["大学院卒", "大学院卒"], ["その他", "その他"]], include_blank: "選択して下さい" %>
    
    <%= f.label :day, "希望する曜日" %>
    <%= f.select :day, [["月曜日", "月曜日"], ["火曜日", "火曜日"], ["水曜日", "水曜日"], ["木曜日", "木曜日"], ["金曜日", "金曜日"], ["土曜日", "土曜日"], ["日曜日", "日曜日"]], include_blank: "選択して下さい" %>
    
    <%= f.label :place, "希望する場所" %>
    <%= f.select :place, [["名古屋地区", "名古屋地区"], ["尾張地区", "尾張地区"], ["海部地区", "海部地区"], ["知多地区", "知多地区"], ["西三河地区", "西三河地区"], ["東三河地区", "東三河地区"], ["金山駅", "金山駅"], ["名古屋駅", "名古屋駅"], ["栄駅", "栄駅"], ["伏見駅", "伏見駅"], ["藤が丘駅", "藤が丘駅"], ["本山駅", "本山駅"], ["今池駅", "今池駅"], ["久屋大通駅", "久屋大通駅"], ["大曾根駅", "大曾根駅"], ["高畑駅", "高畑駅"], ["平安通駅", "平安通駅"], ["小牧駅", "小牧駅"], ["尾張一宮駅", "尾張一宮駅"], ["犬山駅", "犬山駅"], ["刈谷駅", "刈谷駅"], ["知多半田駅", "知多半田駅"]], include_blank: "選択して下さい" %>
    
    <%= f.label :conditions, "お相手の条件" %>
    <%= f.text_area :conditions, placeholder: "お相手の条件を書こう！" %>
    
    <%= f.label :ng, "NG" %>
    <%= f.text_area :ng, placeholder: "NGなことはありますか？" %>
    
    <%= f.label :self_pr, "PR" %>
    <%= f.text_area :self_pr, placeholder: "PRを書こう！" %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>