<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "デキ婚斡旋サイト", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ログイン",   '#' %></li>
        <li><%= link_to "ホーム",   root_path %></li>
        <li><%= link_to "お相手検索",   '#' %></li>
        <li><%= link_to "チャット",   '#' %></li>
        <li><%= link_to "マイページ", '#' %></li>
        <li><%= link_to "ログアウト",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>