<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "デキ婚斡旋サイト", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to "ホーム",   root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "掲示板", boards_path %></li>
          <li><%= link_to "チャット", rooms_path %></li>
          <li><%= link_to "マイページ", current_user %></li>
          <li><%= link_to "プロフィールの編集",  {controller: "users", action: "edit", id: current_user.id, name: "profile"} %></li>
          <li><%= link_to "個人情報の編集", edit_user_path(current_user) %></li>
          <li>
            <%= link_to "ログアウト", logout_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>